.img_1 {
    height: 20px;
    Width: 110px;
    margin-top: 20;
    margin-bottom: 100px;
    margin-left: 500;
}
.signin {
    border-style:solid black;
    height: 30px;
}
.enteremail {
    border-style: solid black;

}
.enterpassword {
    border-style: solid black;
}
.continue {
    border-style: solid black;
    background-color: orange;
}
.newtoamazon {
    border-bottom: solid black;
    height: ;
}
.createacct {
    border-style: solid black;
    background-color: lightgray;
}