/* Illustrating centering, please comment out */
/* Remember to use display: flex; if you use margin: auto; */

.img_1 {
    display: flex;
    justify-content: center;
    height: 20px;
    Width: 100px;
    margin-top: 20px;
    margin-bottom: 50;
    margin-left: 550;
}

.signin {
    display:block;
    border-style:solid;
    border-width:1px;
    height: 350px;
    margin-right: 450;
    margin-left: 450;
}
.continue {
    border-style: solid;
    border-width: 1px;
    background-color: orange;
}
.newtoamazon {
    border-bottom: solid black;
    height: ;
}
.createacct {
    border-style: solid black;
    background-color: lightgray;
}
nav li{
    display:inline;

}
.password{
    display:flex;
    justify-content: space-around;

}