/* Illustrating centering, please comment out */
/* Remember to use display: flex; if you use margin: auto; */

.img_1 {
    height: 20px;
    Width: 100px;
    margin-top: 20px;
    margin-bottom: 50;
    margin-left: 500;
}

.signin {
    border-style:solid;
    border-width:1px;
    height: 350px;
    margin-left: 450;
    margin-right: 450;  
}
.enteremail {
    border-style:solid;
    border-width:1px;
}
.enterpassword {
    border-style: solid black;
}
.continue {
    border-style: solid;
    border-width: 1px;
    background-color: orange;
}
.newtoamazon {
    border-bottom: solid black;
    height: ;
}
.createacct {
    border-style: solid black;
    background-color: lightgray;
}
nav li{
    display:inline;

}